@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --neutral-color-1: hsl(0, 0%, 98%);
  --neutral-color-2: hsl(0, 0%, 41%);
  --neutral-color-3: hsl(0, 0%, 2%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--neutral-color-1);
}

/* Mobile first */
.container {
  max-width: 100%;
}

.snap-navbar {
  box-sizing: border-box;
  padding: 1.25rem 1rem;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.burger-menu {
  grid-column: -1;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .burger-menu {
    display: none;
  }
}

.snap-img {
  width: 100%;
  height: auto;

  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .snap-img {
    content: url(./images/image-hero-desktop.png);
    width: 40%;
    height: auto;
  }
}

.snap-hero-section h1,
p {
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .snap-hero-section {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem 10rem;
  }
}

.hero-title {
  box-sizing: border-box;
  padding: 20px 10px;
  font-size: 2.1rem;
}

.hero-paragraph {
  font-size: 1rem;
  line-height: 1.5;

  box-sizing: border-box;
  padding: 0px 10px;

  text-align: center;
  margin-bottom: 20px;
}

.hero-button {
  font-size: 1rem;
  color: var(--neutral-color-1);
  background-color: var(--neutral-color-3);

  border: none;
  border-radius: 14px;
  padding: 1em 1.2em;
}

.hero-button:hover {
  box-sizing: border-box;
  border: 1px solid var(--neutral-color-3);
  background-color: var(--neutral-color-1);
  color: var(--neutral-color-3);
}

.hero-content,
.hero-details {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  max-width: 100%;
}

@media screen and (min-width: 1440px) {
  .hero-content {
    flex-direction: row-reverse;
    gap: 100px;
  }

  .hero-details {
    display: grid;
    justify-items: start;

    gap: 40px;
  }

  .hero-details p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0;
  }

  .hero-title {
    font-size: 5.3rem;
    padding: 0;
  }
}

.snap-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;

  box-sizing: border-box;
  padding: 50px;
  gap: 22px;
}

@media screen and (min-width: 1440px) {
  .snap-clients {
    padding: 0px;
    align-self: end;
    margin-top: 80px;
  }
}

.snap-client-img {
  width: 75px;
  height: auto;
}

.snap-audiophile {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 1440px) {
  .snap-client-img {
    width: 110px;
    height: auto;
  }

  .snap-audiophile {
    width: 90px;
    height: auto;
  }
}

/* Mobile Menu */
.nav-bar {
  position: relative;
}

.hidden {
  display: none;
}

.modal-menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  width: 66%;
  height: 100vh;

  background-color: var(--neutral-color-1);

  box-sizing: border-box;
  padding: 20px;
  z-index: 21;
}

.modal-container {
  display: flex;
  flex-direction: column;
  color: var(--neutral-color-2);

  position: relative;
}

.close-menu {
  width: 24px;
  height: auto;

  align-self: flex-end;

  cursor: pointer;
}

.menu-options {
  list-style: none;
  line-height: 2.4;
  padding: 0;

  cursor: pointer;
}

/* .features-dropdown,
.company-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.features-dropdown-icon,
.company-icon {
  width: 10px;
  height: auto;

  margin-left: 10px;
}

.btn {
  font-size: 1rem;
  color: var(--neutral-color-2);
  background-color: var(--neutral-color-1);

  border: none;
  padding: 1em 1.2em;

  cursor: pointer;
}

.btn-register {
  border: 1px solid var(--neutral-color-3);
  border-radius: 20px;
}

.btn-register:hover {
  border: none;
  background-color: var(--neutral-color-3);
  color: var(--neutral-color-1);
}

/* Mobile Menu Backdrop */

.hero-paragraph {
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Expanded features and company */

.features-expanded {
  list-style: none;
  padding: 8px 10px;
}

.features-icon {
  width: 16px;
  height: auto;

  margin-right: 10px;
}

.company-expanded {
  list-style: none;
  padding: 8px 26px;
}

/* ensures that desktop nav doesn't show when on mobile */

.desktop {
  display: none;
}
.nav-btn {
  display: none;
}

/* media query for navbar */
@media screen and (min-width: 1440px) {
  .snap-navbar {
    padding: 1.25rem 4rem;
  }

  .nav-bar {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 120px repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    column-gap: 50px;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  .menu-options {
    align-self: center;
    display: flex;
    gap: 40px;
  }

  .snap-logo-img {
    width: 100%;
    height: auto;
  }

  .nav-btn {
    justify-self: end;
    display: flex;
  }

  .feature {
    position: relative;
  }

  .features-expanded {
    position: absolute;
    background-color: var(--neutral-color-1);
    width: 200px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px 0px;
  }

  .company {
    position: relative;
  }

  .company-expanded {
    position: absolute;
    background-color: var(--neutral-color-1);
    width: 200px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px 0px;
  }
}
